language: php

php:
    - 5.2
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - nightly

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    - WP_VERSION=3.8 WP_MULTISITE=0
    - WP_VERSION=3.8 WP_MULTISITE=1

matrix:
  fast_finish: true
  allow_failures:
    - env: WP_VERSION=latest WP_MULTISITE=0
      php: nightly
    - env: WP_VERSION=latest WP_MULTISITE=1
      php: nightly
    - env: WP_VERSION=3.8 WP_MULTISITE=0
      php: nightly
    - env: WP_VERSION=3.8 WP_MULTISITE=1
      php: nightly

before_script:
    - bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

branches:
    only:
        - master
        - trunk

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/00b1df026574cdaeb815
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
