/*--------------------------------------------------------------
Misc.
--------------------------------------------------------------*/

#poststuff .repeatable-group h2 {
	margin: 0;
}

.edit-tags-php,
.profile-php,
.user-edit-php {

	.cmb2-wrap {

		.cmb2-metabox-title {
			font-size: 1.4em;
		}
	}
}

.postbox .cmb2-wrap .cmb-spinner {
	float: left;
}
