/*--------------------------------------------------------------
Misc.
--------------------------------------------------------------*/

#poststuff .cmb-repeatable-group h2 {
	margin: 0;
}

.edit-tags-php,
.profile-php,
.user-edit-php {

	.cmb2-metabox-title {
		font-size: 1.4em;
	}
}

.postbox .cmb-spinner {
	float: left;
}
