/*--------------------------------------------------------------
Misc.
--------------------------------------------------------------*/

#poststuff .cmb-repeatable-group h2 {
	margin: 0;
}

.edit-tags-php,
.profile-php,
.user-edit-php {
	.cmb2-metabox-title {
		font-size: 1.4em;
	}
}

.cmb2-options-page {
	.cmb2-metabox-title {
		font-size: 1.3em;
		margin: 1em 0;
		+ p.cmb2-metabox-description {
			margin-top: -1.6em;
			margin-bottom: .8em;
		}
	}
}
.postbox .cmb-spinner {
	float: left;
}
