//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Mobile break-point
$mobile-break: 450px;

// Fonts
$font-sans:  sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;
$font-size: 14px;

// Colors
$dark-gray:     #222222;
$gray:          #aaaaaa;
$light-gray:    #e9e9e9;
$blue:          #0063ce;
$light-yellow:  #fffff8;
